<div>
    <div class="col-md-10">
        <div class="jumbotron">
            <div class="row">
                <img src="/images/ElementalFireBevel.png" style="width:128px" />
                <div class="col-md-9">                    
                    <h1>Elemental Fire</h1>
                </div>
            </div>
        </div>
        Fire spectacular elemental weapons in this space age shooter<br /><br />
      
      	<h2> Featuring!</h2>
      	<ul>
      		<li>
      			Six elements to enhance your weaponry
      		</li>
      		<li>
      			3 stages to do battle on (with many more to come)
      		</li>
      		<li>
      			Leveling system
      		</li>
      		<li>
      			Tactical and Elemental skills increasing your power like never before
      		</li>
      		<li>
      			Face paced FFA or Team multiplayer
      		</li>
      		<li>
      			Over 16 unique weapons to wage war with
      		</li>
      		<li>
      			Destructible levels, chasms of doom, elevators and more!
      		</li>
      		<li>
      			AI to challenge your skills
      		</li>
      	</ul>
      
        <!-- Coming Soon!

        <hr/>
        
        Want to help out with development of the game? <br />
        Try the alpha and after fill out the survey below <br /><br />

        <a href="https://docs.google.com/forms/d/1c9csOtwmRszL070fgw7qZuixnLB3sE2Rb_GC8CIIk4Y/viewform?usp=send_form"  target="_blank"> Take the survey</a>
        <br />
        <br />

        <a class="btn btn-success btn-lg" href="ElementalZip.exe" target="_self" role="button">Download the alpha now!</a> -->
        
    </div>
</div>