<div>
    <div class="col-md-10">
        <div class="jumbotron">
            <div class="row">                
                <div class="col-md-9">                    
                    <h1>Other Projects</h1>
                </div>
            </div>
        </div>
        
      	<hr/>
      	
      	<h1> Platform Game</h1>
      	Charge, shoot and pound your way through hostile robots in the this singleplayer platformer rpg fusion.
      	<br />
      	<br />
      	<img src="images/Other/Faylts.png" style="width:480px">
      	<img src="images/Other/Rusiv.png" style="width:480px">
      	<img src="images/Other/Charge.png" style="width:480px">
      	<br />
      	<br />
		<a class="btn btn-success btn-lg" href="https://drive.google.com/file/d/0B63kHTH0Fu6AQjRwaXNjXzBucGM/view?usp=sharing" target="_self" role="button">Download for Windows</a>
		Last Updated: February 22, 2016
        <hr/>
        
         <h1> Hearthstone Draft Tool</h1>
      	Multiplayer Hearthstone draft with a deck builder afterward to build decks with the cards you draft.
      	<br />
      	<br />
      	<img src="images/Other/Draft1.png" style="width:480px">
      	<img src="images/Other/Draft2.png" style="width:480px">
      	<img src="images/Other/Builder.png" style="width:480px">
      	<br />
      	<br />
		<a class="btn btn-success btn-lg" href="https://drive.google.com/file/d/0B63kHTH0Fu6AdUI1NzhnSXlCMms/view?usp=sharing" target="_self" role="button">Download for Windows</a>
		Last Updated: April 14, 2016
        <hr/>    
        
         <h1> Elements</h1>
      	Mulitplayer board game where you use cards and strategy to control the board and beat your opponents.
      	<br />
      	<br />
      	<img src="images/Other/Moat.png" style="width:480px">
      	<img src="images/Other/Wildfire.png" style="width:480px">
      	<img src="images/Other/Victory.png" style="width:480px">
      	<br />
      	<br />
		<a class="btn btn-success btn-lg" href="https://drive.google.com/file/d/0B63kHTH0Fu6AdFM5UHpLRkMxOWc/view?usp=sharing" target="_self" role="button">Download for Windows</a>
		Last Updated: April 14, 2016
        <hr/>  
        
        <h1> Cuber Science</h1>
      	Voxel mining adventure based around crafting and science!
      	<br />
      	<br />
      	<img src="images/Other/Outside.png" style="width:480px">
      	<img src="images/Other/Inventory.png" style="width:480px">
      	<img src="images/Other/Underground.png" style="width:480px">
      	<br />
      	<br />
		<a class="btn btn-success btn-lg" href="https://drive.google.com/file/d/0B63kHTH0Fu6AY2I2SjhtamotbE0/view?usp=sharing" target="_self" role="button">Download for Windows</a>
		Last Updated: April 14, 2016
        <hr/>               
        <a class="btn btn-success btn-lg" href="https://drive.google.com/file/d/0B63kHTH0Fu6ANFUyTHAtNHYtcDA/view?usp=sharing" target="_self" role="button">Download for Windows</a>
		Last Updated: June 13, 2016
		 <a class="btn btn-success btn-lg" href="https://drive.google.com/file/d/0B63kHTH0Fu6AaW1NdGZkbTZXRTg/view?usp=sharing" target="_self" role="button">Download for Windows</a>
		Last Updated: June 16, 2016

    </div>
</div>