<div>
    <div class="col-md-10">
        <div class="jumbotron">
            <div class="row">
                <img src="/images/Wonderest.png" style="width:128px" />
                <div class="col-md-9">                    
                    <h1>Wonderest</h1>
                </div>
            </div>
        </div>
        Build amazing monuments to become the Wonderest<br />
      
        Coming Soon!

        <hr/>

        <a class="btn btn-success btn-lg" href="/wonderest/play/" role="button">Play alpha now!</a></p>
    </div>
</div>